.fundocardapio{
    background-color: #484441;      
}
nav {
    display: flex;
}

.menu span{
    font-family: 'arial';
}

.topo nav ul{
    display: flex;
    justify-content: space-between
}

.topo{
   display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 285px;
    height:206px;
    z-index: 1;
}

.topo nav ul li a{
    font-size: 18px;
    text-decoration: none;
    display: flex;
    font-family: 'Poppins';
    color: white;
    font-size: 17pt;
}



.site{
    display: flex;
    max-width: 1200px ;
    width: 100%;
    margin: 0 auto;
}

.topo nav ul li{
    display: block;
    padding: 26px 30px;
    margin: 0 15px;
    list-style: none;

}
.menu nav {
    

}

.imghome{
	position: relative;
    width: 40px;
    height: 40px;
    top:-45px;
    left:45px; 
	
}


.imgprodutos{
	position: relative;
    height: 60px;
    width:  60px;
    align-items: center;
    top:-50px;
    left: 76px;
}

.imgsobre{
    position: relative;
    width: 57px;
    height: 57px;
    top: -55px;
    left: 58px;
}
.imgcontato{
    position: relative;
    width: 40px;
    height: 40px;
    top: -50px;
    left: 54px;
    
}
header{
    background-color: #711a1a;
    height: 110px;

}

.sobre{
    margin: 2% 0;

}

.sobre div{
    display: flex;
    justify-content: space-around;
    
}

.sobre div article{
    width: 40%;

    
}

.sobre div article:nth-child(1){
    margin-left: 12%;
}

.sobre h2{
    font-size: 36px;
    font-family: 'arial';
    margin-top: 130px;
              
}

.sobre p {
    font-size: 20px;
    text-align: left;
    padding: 20px;
    line-height: 30px;
    font-family: 'arial';
    margin-top: -45px;
    margin-right:-50px;
    margin-left: -20px
}

.sobre div article img{
    width: 100%;
    position: relative;
    margin-left: 125px;
    margin-top: 130px;
    
}
.menu nav ul {
    margin-left: 25%;

}
/*rodape*/
.rodape{
      font-family: 'arial';
    background: #821515;
    padding: 2% 0;
    height: 100px;
    margin-top: 120px;
}

.rodape img{
    width: 22%;
    margin-left: 40%;
}
.rodape span{
    color: white;
    
}
.telefone2{
     
  
}




.facebook{
    background-image: url(../ICON/face.svg);
   background-repeat: no-repeat;     
}


.wtt{
    background-image: url(../ICON/whats.svg);
       background-repeat: no-repeat;
}

.instagram{
    background-image: url(../ICON/insta.svg);
       background-repeat: no-repeat;
}

.redessociais li{
    display: inline-flex;
       background-repeat: no-repeat;

}

.redessociais li a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    text-indent: -99999px;
      
}

.direitos{
    background: #000000;
    color: #909090;
   
    text-align: center;
    margin-top: 78px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    
  
}

footer div{
  margin-left: -30px;
    margin-top: -80px;
    width:170px;
    height:20px;
    
        
}



 .email5{
    margin-left: 10px;  
}
.contato{
    margin-left: 9px;
}
.emco{
 margin-left: 5px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    line-height: 22px;
    position: absolute;
}
.logo2{
    width: 390px;
    height: 150px; 
}


.logo2 img{
        width: 332px;
    height: 100px;
    margin-left: 800px;
  
}

.banner2{
    position: relative;
    display: inline-block;
    width: 100%;    
    height: 600px;
    z-index: 0;
}

.banner2 span{
    position: absolute;
    display: flex;
    font-size: 72px;
    font-family: 'arial';
    width: 10%;
    text-align: center;
    color: white;
    margin-left: 1560px;
    margin-top: 300px;
}

/*self*/
.alinhar{
    font-family: 'arial';
    line-height: 20px;
    text-align: center;
}
.self .service{
    font-size: 60px;
    color: white;
    
}

.self .nova{
    font-size: 75px;
    color: #eab849;
}
.imgself{
    margin-top: 500px;
}



.fundoquadrado{
    background-color: #6f6f6f;
    height: 600px;
    width: 494px;
    margin-top: -40px;
}
.textcont{
    height: 320px;
    width: 494px;   
    background-color: #eab849;
    margin-top: -20px;
}
.borda{
    height: 829px;
    width: 455px;
    margin-top: -870px;
    border-style: solid;
    border-color: #000000;
    margin-left: 14px;
    border-width: 5px;
}

.textcont .textself{
    display: flex;
    justify-content: space-around;
    font-family: 'arial';
    font-size: 18px;
    margin-left: 25px;
    
    
}

.tituloself{
    padding-top: 20px;
    font-family: 'arial';
    margin-left: 25px;
    
    
}
.imgself{
    margin-left: 60px;
}
/*quadrado 2*/
.quadrado2{
    margin-left: 745px;
    margin-top: -890px; 
}
/*quadrado 3*/

.quadrado3{
 
  margin-left: 1372px;
    margin-top: -890px; 
}

.cor{
    background-color: #0c0a05
}

/*home*/
.bannerprodutos{
    height: 925px;
    width: auto;
    background-image: url(../img/bakery-1868925.jpg);
    background-repeat: no-repeat
}

.botaobanner{
    width: 145px;
    height: 50px;
    background-color: #fac529;
    margin-top: -390px;
    margin-left: 102px;
    padding: 9px;
    
}

.textoclicavel{
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.textoclicavel a{
    text-decoration: none;
    color: black;
}

.homel{
   background-color:#331b1b;
    height: 501px;
    width: 501px;
    margin-top: -40px;
}
.linklanche{
    text-decoration: none;
    
}

.borda2{
    height: 477px;
    width: 484px;
    margin-top: -493px;
    border-style: solid;
    border-color: #e5bdbd;
    margin-left: 10px;
    border-width: 4px;
}

.titulolanche{
    font-family: 'arial';
    margin-top: -100px;
    color: #eab849;
      margin-left: 30px;
}

.dividido{
    width: 255px;
    height: 501px;
    margin-top: -471px;
    margin-left:258px;
    background-color: antiquewhite;
    background-image: url(../img/croissant.jpg);

    
}

.textolanche{
    color: white;
    margin-left: 30px;
    margin-top: -15px;
    font-family: 'arial';
}
/*quadrado*/
.quadradolanche{
    width: 980px;
    height:400px;
    background-color: #f7f2e9;
    
    
    
}

.titulolanche2{
    color: black;
    margin-top: -375px;
    font-size: 38px; 
    font-family: 'Quicksand', sans-serif; 
    
}
.din1{
    font-family:'arial';
    font-size: 30px;
    margin-left: 130px;
    font-family: 'Quicksand', sans-serif;
    margin-top: -27px;
    color: #208f2c;

}

.reserv{
    font-family: 'Quicksand', sans-serif;
    font-size: 15spx;
    margin-top: 230px;
    margin-left: 27px;
    

}

.lanche5{
    margin-left: 982px;
    margin-top: -409px;
}

.lanche6{
    margin-top:-8px;
   
    
}
.lanche7{
    margin-left: 982px;
    margin-top: -410px;
    
}

/*bannerlanche*/

.bannerlanche{
    max-width: 100%;
    height: 988px;
    background-image: url(../img/pao.jpg);
    background-repeat: no-repeat;

}

.reservlink{
    text-decoration: none;
    color: black;
}
.reserv:hover{
    background-color: #cce6a7;
    max-width: 85px;
       
}

/*imglanche*/
.imglanche1{
    margin-top: -380px;
    margin-left: 590px;
    padding: 40px;
}